<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        
        
        <div class="navbar">
            <span class="navbar-item">Personal Loan</span>
            <span class="navbar-item">Home loan</span>
            <span class="navbar-item">Business Loan</span>
            <span class="navbar-item">Loan Aainst Property</span>
            <span class="navbar-item">Vehicle Loan</span>
        </div>
        <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button> -->
    </mat-toolbar>
</p>





<!-- <button mat-button [matMenuTriggerFor]="aboveMenu">Overview</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Balance Transfer</button>
  <button mat-menu-item>Top UP Loan</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">Eligibility and Documentation</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>How To Apply</button>
  <button mat-menu-item>Flexi Plan</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="beforeMenu">Rates and Charges</button>
<mat-menu #beforeMenu="matMenu" xPosition="before"> 
 <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button> 
</mat-menu>


<button mat-button [matMenuTriggerFor]="afterMenu">Calculators</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>EMI Calculators</button>
  <button mat-menu-item>PMAY Calculators</button>
  <button mat-menu-item>Balance Transfer Top Up Calculators</button>
  <button mat-menu-item>Eligibility Calculators</button>
  <button mat-menu-item>Area Conversion Calculators</button>
  <button mat-menu-item>Stamp Deuty Calculators</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="belowMenu">Quick Cash </button>
<mat-menu #belowMenu="matMenu" yPosition="below">
   <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button> 
</mat-menu>

<button mat-button [matMenuTriggerFor]="beforeMenu">FAQs</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button> 
</mat-menu>


<button mat-button [matMenuTriggerFor]="afterMenu">More</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Approved Projects</button>
  <button mat-menu-item>Subsequent Disbursal</button>
</mat-menu>

<button class="btn btn-primary" >Apply</button> -->