// .card{
//     background-color: peru;
//     font-size: 16px;
//     color: whitesmoke;
// }

// .mat-grid-tile.diet-name figure.mat-figure {
//     margin: 0 5px !important;
// }

.internalMatGrid {
    background-color: rgb(240, 50, 29);
        // font-weight: 400;
        border-radius: 15px;
    min-width: 90%;
    height: 250px;
}

.mat-slider {
    width: 200px;
  }

  .text-label{
    color: aliceblue;
    font-size: 20px;
  }